* {
  box-sizing: inherit;
}
body {
  background-color: #111;
  color: #ebebeb;
  margin: 0;
}

.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 4em;
}

svg {
  display: block;
  fill: currentColor;
  width: 100%;
  max-width: 500px;
  /* margin: auto; */
}

circle {
  fill:  transparent;
  transform-origin: center;
  stroke: currentColor;
  animation: pulse 1.5s infinite ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
